<section id="education">

  <div class="container">

    <div class="row">

      <div class="col-lg-12 text-center">

        <h2 class="section-heading">Education</h2>

      </div>

    </div>

  </div>

  <div class="container">

    <div class="row">

      <div class="col-12">

        <ul class="timeline">

          <li>

            <div class="timeline-panel">

              <div class="timeline-heading">

                <h3 class="timeline-title">B.Sc. in Electrical Engineering</h3>

                <h4 class="timeline-subtitle">University of Tehran</h4>

                <p class="timeline-duration">2019 - Present</p>

              </div>

              <div class="timeline-body">

                <p>College of Electrical and Computer Engineering</p>

                <p>Control Engineering Speciality</p>

                <p>Cum. GPA: 3.82/4 (17.38/20)</p>

              </div>

            </div>

          </li>



          <li>

            <div class="timeline-panel">

              <div class="timeline-heading">

                <h3 class="timeline-title">Minor in Computer Engineering</h3>

                <h4 class="timeline-subtitle">University of Tehran</h4>

                <p class="timeline-duration">2021 - Present</p>

              </div>

              <div class="timeline-body">

                <p>Cum. GPA: 3.7/4 (17.8/20)</p>

              </div>

            </div>

          </li>



          <li>

            <div class="timeline-panel">

              <div class="timeline-heading">

                <h3 class="timeline-title">High School Diploma</h3>

                <h4 class="timeline-subtitle">National Organization for Development of Exceptional Talents</h4>

                <p class="timeline-duration">2013 - 2019</p>

              </div>

              <div class="timeline-body">

                <p>Mathematics and Physics</p>

                <p>Cum. GPA: 4.0/4.0</p>

              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>

  </div>

</section>
